<?xml version="1.0" encoding="utf-8"?>
<!-- © <YEAR(S)> <AUTHOR(S)>
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html). -->

<openerp>
<data>
<menuitem id="job_family_modelling_configuration_menu"
    parent="hr.menu_hr_configuration"
    name="Job Family Modelling"
    sequence="5"/>
</data>
</openerp>


