<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2017 OpenSynergy Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<openerp>
<data>

<menuitem
            id="hr_career_administration_root_menu"
            name="Career Administration"
            parent="hr.menu_hr_root"
        />

<menuitem
            id="hr_career_administration_configuration_menu"
            name="Career Administration"
            parent="hr.menu_hr_configuration"
        />


</data>
</openerp>
